


.texto{
padding-top: 35px;
text-align: center;


font-size: 100px;
}

.cuadro{

height: 230px;
border-radius: 20px;

}

header{

margin-left: 2%;
background-color: #88B3ED;
width: 96%;



}
section{
	margin-left: 2%;
	margin-top: 2px;
width: 63%;
background-color: #D74AE4;
display: inline-block;


}
article{

background-color: #CB6DD4;
display: inline-block;
width: 47%;

height: 96%;
margin: 5px 0.9% ;
border-radius: 10px;
}