


.texto{
padding-top: 35px;
text-align: center;


font-size: 100px;
}

.cuadro{

height: 230px;
border-radius: 20px;

}

header{

margin-left: 2%;
background-color: #88B3ED;
width: 96%;



}
section{
	margin-left: 2%;
	margin-top: 4px;
width: 63.5%;
background-color: #D74AE4;
display: inline-block;
float: left;

}
article{

background-color: #CB6DD4;
display: inline-block;
width: 47%;

height: 96%;
margin: 5px 0.9% ;
border-radius: 10px;
}
aside{


display: inline-block;
width: 32%;
background-color: #4BCB75;
margin-top: 4px;
margin-right: 2%;
margin-left: 5px;
}

footer{

margin-left: 2%;
background-color: #C9DD23;
width: 96%;

margin-top: 4px;

}